[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
requests = "*"
django = "*"
django-environ = "*"
djangorestframework = "*"
sentry-sdk = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
