[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
black = "==21.6b0"

[packages]
django = "*"
django-environ = "*"
djangorestframework = "*"
sentry-sdk = "*"
gunicorn = "*"
django-webpack-loader = "*"
requests = "*"

[requires]
python_version = "3.8"
